In [1]:
import Rust_Machine_Learning
import plotly.express as px
import pandas as pd
from syed_ml_lib import *

In [2]:
# Get the csv data
df = pd.read_csv("../data/iris.data")
# df = pd.read_csv("../data/kmeans-dataset.csv")
# df = pd.read_csv("../data/winequality-red.csv")
df = pd.DataFrame(data={
  "chest_pain": [1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0],
  "blocked_arteries": [1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0],
  "patient_weight": [205, 180, 210, 167, 156, 125, 168, 172],
  "heart_disease": [1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0]
})
df

   chest_pain  blocked_arteries  patient_weight  heart_disease
0         1.0               1.0             205            1.0
1         0.0               1.0             180            1.0
2         1.0               0.0             210            1.0
3         1.0               1.0             167            1.0
4         0.0               1.0             156            0.0
5         0.0               1.0             125            0.0
6         1.0               0.0             168            0.0
7         1.0               1.0             172            0.0

In [3]:
to_encode = []
encoded, feature_to_encoded_cols = one_hot_encode(df, to_encode)
encoded

   chest_pain  blocked_arteries  patient_weight  heart_disease
0         1.0               1.0             205            1.0
1         0.0               1.0             180            1.0
2         1.0               0.0             210            1.0
3         1.0               1.0             167            1.0
4         0.0               1.0             156            0.0
5         0.0               1.0             125            0.0
6         1.0               0.0             168            0.0
7         1.0               1.0             172            0.0

In [4]:
# Prepare data for training with input rust functions expect
label_col = 3

train_data, test_data = split_train_test(encoded, 1.0, False)

# Remove any encoded data of the same class
train_data_features = train_data.copy()
remove_encoded_category_data_and_label(train_data_features, feature_to_encoded_cols, label_col)
train_data_features_list = train_data_features.values.tolist()

# Get labels
train_data_labels = train_data.iloc[:, label_col].values.tolist()

# Determine which columns in train_data_features_list are categorical
is_categorical = [False, False, False, False]

train_data_features

   chest_pain  blocked_arteries  patient_weight
0         1.0               1.0             205
1         0.0               1.0             180
2         1.0               0.0             210
3         1.0               1.0             167
4         0.0               1.0             156
5         0.0               1.0             125
6         1.0               0.0             168
7         1.0               1.0             172

In [5]:
# Now train the model
trained_model = Rust_Machine_Learning.AdaBoost(
    train_data_features_list, train_data_labels
)

trained_model.print()